{% extends "base.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Sumbangan COVID-19</h1><br />
            <h1>Terimakasih telah berdonasi</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <p>Untuk Menyumbang <a href="../public/sumbangan/index">click</a></p><br />
        <p>Untuk melihat donasi  <a href="../public/jenis">click</a></p>
    </div>

 
{% endblock %}
